<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>GIDClientID</key><string>$(COFFEE_GOOGLE_IOS_CLIENT_ID)</string>
    <key>CFBundleURLTypes</key><array><dict>
        <key>CFBundleURLSchemes</key><array><string>$(COFFEE_GOOGLE_REVERSED_CLIENT_ID)</string></array>
    </dict></array>
    <key>CoffeeDialAppleSignInEnabled</key><string>$(COFFEE_APPLE_SIGN_IN_ENABLED)</string>
</dict>
</plist>
